<canvas id="particles" width="1000" height="1000">your browser does not support the canvas tag </canvas>
<div id="interface">
	<ul>    
		<li>
			<a id="clear" href="#">Clear the canvas</a>
		</li>
		<li>
			<a id="clear-each-frame" href="#" title="Toggles clearing on each frame">Toggle clearing</a>
		</li>
		<li>
			<a id="add-particles" href="#">Add Particles</a>
		</li>
		<li>
			<a id="remove-particles" href="#">Remove particles</a>
		</li>
	</ul>
</div>

