<!DOCTYPE html>
<html>
	<head>
		<title>Particle System</title>
		<script src="particle-system.js"></script>
		<style>
			div.wrap {
				width: 100%;
				margin: 10% 0;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<div class="wrap">
			<canvas id="particles" width="400" height="400">your browser does not support the canvas tag </canvas>
		</div>
	</body>
</html>
