<canvas id="particles" width="450" height="450">your browser does not support the canvas tag </canvas>
<div id="status">
	<p>Currently <span id="num-particles"></span> particles showing</p>
</div>
<div id="tools">
	<a id="add-particles" href="#">Add 1000 particles</a>
	<a id="remove-particles" href="#">Remove 1000 particles</a>
</div>

